@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'leaflet/dist/leaflet.css';

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 22%;
    --brand: 351 71% 24%;
    --gold: 42 78% 68%;
  }

  body {
    @apply bg-white font-sans text-ink antialiased;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}
